/** parte individual de la pagina**/
body{
    font-family: sans-serif;
    color:dodgerblue;
    background: #ccffff;
    
}

header{
    background: white;
    margin-left: -0.5%;
    margin-right: -0.3%;
    padding-top: 0;
    margin-top: -1.05%;
}

.texto{
    color:dodgerblue;
    font-family: sans-serif;
}

.contenido{
    display: inline;
    
}

.info{
    margin-left: 18%;
    margin-right: 18%;
    color:dodgerblue;
}

.slider{
    
}

.menutext{
    color: dodgerblue;
    text-align:right;
}


/** menu **/
.navegacion {
    background-color:deepskyblue;
    z-index:99999;
    margin-left: -0.5%;
    margin-right: -0.2%;
}
nav {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
nav ul {
    list-style:none;
}
nav > ul > li {
    float: left;
}
nav ul::after {
    content: '';
    display: block;
    clear: both;
}
nav ul li a {
    display: inline-block;
    width: 200px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    background-color: deepskyblue;
    border-bottom: 9px solid transparent;
    -webkit-transition: border-bottom .7s;
    -moz-transition: border-bottom .7s;
    -o-transition: border-bottom .7s;
    transition: background-color .7s;
}
nav ul li a:hover {
    background-color:dodgerblue;
    border-bottom: 9px solid white;
}
/** Segundo Nivel **/
nav ul ul {
    position: absolute;
    top:100%;
    background-color: deepskyblue;
    display: none;
    z-index: 99999;
}
nav ul li:hover > ul {
    display: block;
}
nav ul li:hover  {
    background-color: dodgerblue;
}
.ache1{
    text-align: center;
    text-decoration:underline;
    text-transform: uppercase;
}
.informacion{
    position: absolute;
    width: 40%;
    margin-left: 5%;
    margin-top: 15%;
    text-align: center;
}
.informacion2{
    position: absolute;
    width: 40%;
    width: inherit;
    margin-left: 55%;
    margin-top: 15%;
    text-align: center;
    
}
.cert {
    font-size: 12px;
}
.imag {
    position: absolute;
    margin-left: 10%;
}
.somos {
    position: absolute;
    width: 50%;
    text-align: left;
    margin-left: 35%;
    margin-top: 5%;
}
.mision{
    margin-top: 25%;
    text-align: center;
    text-decoration:underline;
    text-transform: uppercase;
}
.mis_es{
    position: absolute;
    width: 60%;
    margin-left: 20%;
   
}