/** parte individual de la pagina**/
.contenido{
    margin-left: 23%;
}
.contenido2{

    display: inline-block;
    width: 50%;
    margin-left: 15%;
}

.texto{
    color:dodgerblue;
    font-family: sans-serif;
    margin-left: 9%;
}

body{
    font-family: sans-serif;
    color:dodgerblue;
    background: #ccffff;
}

header{
    background: white;
    margin-left: -0.5%;
    margin-right: -0.3%;
    padding-top: 0;
    margin-top: -1.05%;
}
.serv{
    text-align: justify;
    font-family: sans-serif;
    color:dodgerblue;
    font-size: 18px;
    margin-left: 10%;
    line-height: 2;
}

.serv ul li{
    list-style:disc;
    margin-left: -13%;
}
.terapias{

    text-align: left;
    font-family: sans-serif;
    color:dodgerblue;
    font-size: 20px;

    display: inline-block;
    vertical-align: top;
    line-height: 2.2;
    width: 25%;

}

.terapias ul li{
    list-style: none;
    margin-left: 15%;
}
h2{
    text-align: justify;
    font-family: sans-serif;
    color:darkblue;
    font-size: 25px;
    margin-left: 25%;
}
.slider2{
    float:left;
	margin-left:50%;
	margin-bottom:10%;
    width: 1900px;
    margin: 0 auto;
    position: relative;
}
.texto{
    color:dodgerblue;
    font-family: sans-serif;
}

.info{
    margin-left: 0%;
    margin-right: 18%;
    color:dodgerblue;
    text-align: center;
    text-decoration-style: wavy;
}

.menutext{
    color: dodgerblue;
    text-align:right;
}
/** banner index **/
.banner{
    
}

.imagenIndex{
    width: 100%;
    transition: width .7s;
}

.imgIndex{
    display:inline-flex;
    list-style: none;
    position: relative;
    width: 1290px;
    padding-left: 1.5%;
}

.imagenIndex:hover{
    width: 105%;
    position:relative;
}

/** menu **/
.navegacion {
    background-color:deepskyblue;
    z-index:99999;
    margin-left: -0.5%;
    margin-right: -0.2%;
}
nav {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
nav ul {
    list-style:none;
}
nav > ul > li {
    float: left;
}
nav ul::after {
    content: '';
    display: block;
    clear: both;
}
nav ul li a {
    display: inline-block;
    width: 200px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    background-color: deepskyblue;
    border-bottom: 9px solid transparent;
    -webkit-transition: border-bottom .7s;
    -moz-transition: border-bottom .7s;
    -o-transition: border-bottom .7s;
    transition: background-color .7s;
}
nav ul li a:hover {
    background-color:dodgerblue;
    border-bottom: 9px solid white;
}
/** Segundo Nivel **/
nav ul ul {
    position: absolute;
    top:100%;
    background-color: deepskyblue;
    display: none;
    z-index: 99999;
}
nav ul li:hover > ul {
    display: block;
}
nav ul li:hover  {
    background-color: dodgerblue;
}

.informacion{
    position: absolute;
    width: 40%;
    margin-left: 5%;
    margin-top: 15%;
    text-align: center;
}
.informacion img :hover {
    width: 110%;
}
.informacion2{
    position: absolute;
    width: 40%;
    width: inherit;
    margin-left: 55%;
    margin-top: 15%;
    text-align: center;
    
}
.cert {
    font-size: 12px;
}
.imag {
    margin-top: -20%;
    position: absolute;
    margin-left: 10%;
    
}
.imag a :hover{
    width: 110%;
    
}
.somos {
    position: absolute;
    width: 50%;
    text-align: left;
    margin-left: 37%;
    margin-top: -18%;
}
.mision{
    margin-top: 25%;
    text-align: center;
    text-decoration:underline;
    text-transform: uppercase;
    transition: background .7s;
}
.mision:hover {
    background:#01DFD7;
    border-bottom: 2px solid white;
    
}
.mis_es{
    position: absolute;
    width: 60%;
    margin-left: 20%;
   
}
.contac{
    text-align: left;
    text-decoration:underline;
    text-transform: uppercase;
    width: 60%;
    margin-left: 40%;
    margin-top: 10%;
}
.tel {
   position: absolute;
    margin-left: 0%;
     margin-top:-12%;
 
}
.numero {
    position: absolute;
    width: 50%;
    text-align: left;
    margin-left:39%;
    margin-top: 5%;
}
.numero2 {
    position: absolute;
    width: 50%;
    text-align: left;
    margin-left:39%;
    margin-top: 15%;
}
.direccion {
    position: absolute;
    width: 50%;
    text-align: left;
    margin-left:39%;
    margin-top: 20%;
}